.sd-form-element{
	max-width:100%;
}
.h2 {
    font-size: 1.7em;
}
.h3{
	font-size: 1.35em;
}
.h4{
	font-size: 1.15em;
	margin-top: 13.5px;
    margin-bottom: 2.25px;
}
.width-50{
	width:50px;
}
.width-100{
	width:100px;
}
.width-200{
	width:200px;
}
.width-300{
	width:300px;
}
.width-400{
	width:400px;
}
.width-500{
	width:500px;
}
.width-600{
	width:600px;
}
.d-flex{
	display: -ms-flexbox;
	display:flex;
}

.step-list li::before {
    padding: 0px 0px;
    position: absolute;
    width: 27px;
    text-align: center;
    height: 27px;
}

.displayFlex{
	display:flex;
	flex-flow: row wrap;
}
.flexEnd{
	align-items:flex-end
}

@media only screen and (max-width: 768px){
	.mobileBlock{
		display: block;
	}
}

.icon-admin:before {
    content: ' ';
	display: inline-block;
    background-image: url(../images/admin-icon-sm.svg);
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    margin-left: .5em;
    top: 3px;
    position: relative;
}

/* --------------------------------------secondary navigation------------------------------------------------- */
.secondaryNav{
	background: #F8D44C;
}
#nav {
	margin:0;
	padding:0;
}
#nav li {
	display:inline;
	padding:0;
	margin:0;
	text-align: center;
}

#nav {
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
#nav object{
	height:20px;
}

#nav a:link,
#nav a:visited {
	font-size: 0.88rem;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	min-width: 75px;
	padding:10px 10px 0px 10px;
	float:left;
	width:auto;
	border-bottom: 6px solid transparent;
	transition: 0.3s;
}

#nav a:before {
	display: block;
    content: ' ';
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin: 0 auto 5px;
}

#nav #nav-home a:before {
    background-image: url(../images/home-icon-sm.svg);
}
#nav #nav-add a:before {
    background-image: url(../images/add-icon-sm.svg);
}
#nav #nav-search a:before {
    background-image: url(../images/search-icon-sm.svg);
}
#nav #nav-reports a:before {
    background-image: url(../images/reports-icon-sm.svg);
}

#nav a:hover,
#nav a:focus {
	background:#FFF0B8;
	transition: 0.3s;
}

#add #nav-add a,
#search #nav-search a,
#reports #nav-reports a,
 {
	background:#e35a00;
	text-shadow:none;
	border-bottom: 6px solid transparent;
}
#add #nav-add a:hover,
#search #nav-search a:hover,
#reports #nav-reports a:hover,
 {
	background:#FFF0B8;
	transition: 0.3s;
}

#nav a:active, #nav a:focus, #nav a.active {
	background:#FFF0B8;
	border-bottom: 6px solid #004A8B;
}

/*  ---------------------------------------------End NAV----------------------------------------------------------- */

/*  ---------------------------------------------Start form elements----------------------------------------------------------- */


/* Start field widths */

.fw-2 {
    max-width: 2em;
    width: 100%;
}
.fw-4 {
    max-width: 4em;
    width: 100%;
}
.fw-6 {
    max-width: 6em;
    width: 100%;
}
.fw-8 {
    max-width: 8em;
    width: 100%;
}
.fw-10 {
    max-width: 10em;
    width: 100%;
}.fw-15 {
    max-width: 15em;
    width: 100%;
}
.fw-20 {
    max-width: 20em;
    width: 100%;
}
.fw-25 {
    max-width: 25em;
    width: 100%;
}
.fw-30 {
    max-width: 30em;
    width: 100%;
}
.fw-35 {
    max-width: 35em;
    width: 100%;
}
.fw-40 {
    max-width: 40em;
    width: 100%;
}
.fw-50 {
    max-width: 50em;
    width: 100%;
}

/* End field widths */

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, input[list] {
    border: 1px solid #a2a2a2;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="tel"]:hover, textarea:hover, input[list]:hover {
    outline: 4px solid #F8D44C;
	transition: outline-width 0.2s ease;
}
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[list] {
    height:2.3em
}

.input-group-text {
    font-weight: 600;
    color: #444444;
    background-color: #D0D0D0;
    border: 1px solid #a2a2a2;
	border-radius: 0;
	height:2.3em
}

.form-group {
    margin-bottom: 1em;
}

/* Start Radio button */
legend.label{

    margin-bottom: 5px;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    font-weight: 600;
	border-bottom: 0;
	color: #444;
	font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
}

legend h1, legend h2, legend h3, legend h4, legend h5, h1.label, h2.label, h3.label, h4.label, h5.label  {
    margin: 0;
    font-size: 1em;
    line-height: 1.6875;
    color: inherit;
    font-weight: bold;
	border-bottom: 0;
	color: #444;
	font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
}

.ns-radios__item {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 0;
  padding-left: 40px;
  clear: left; }
  
.ns-radios__item.inline {
  display: inline-block; }

.ns-radios__item:last-child,
.ns-radios__item:last-of-type {
  margin-bottom: 0; }

.ns-radios__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0; }

.ns-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.ns-label-span {
    padding: 4px 12px;
    position: relative;
    left: -15px; }

.ns-radios__item:hover .ns-label-span  {
	background-color: #f8d44c;
	transition: 0.3s;  }
.ns-radios__item:hover .ns-radios__input + .ns-radios__label:before {
  box-shadow: 0 0 0 6px #f8d44c;
	transition: 0.3s; }
.ns-radios__item:hover .ns-radios__item .ns-radios__input:focus + .ns-radios__label:before {
  box-shadow: 0 0 0 4px #f8d44c, 0 0 0 10px #f8d44c; }
@media (hover: none), (pointer: coarse) {
  .ns-radios__item:hover .ns-radios__item .ns-radios__input + .ns-radios__label:before  {
    box-shadow: none; }
  .ns-radios__item:hover .ns-radios__item .ns-radios__input:focus + .ns-radios__label:before {
    box-shadow: 0 0 0 4px #f8d44c; } }

.ns-radios__label:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #a2a2a2;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0); }

.ns-radios__label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 38px;
	height: 38px;
	border: 10px solid #0058a4;
	border-radius: 50%;
	opacity: 0;
	background: #0058a4; }

.ns-radios__hint {
  display: block;
  padding-right: 15px;
  padding-left: 15px; }

.ns-radios__input:focus + .ns-radios__label:before {
  border-width: 4px;
  box-shadow: 0 0 0 4px #f8d44c}

.ns-radios__input:checked + .ns-radios__label:after {
  opacity: 1; }

.ns-radios--inline.ns-radios--conditional .ns-radios__item {
  margin-right: 0;
  float: none; }

.ns-radios__divider {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 40px;
  margin-bottom: 10px;
  text-align: center; }

.ns-radios--small .ns-radios__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left; }
  
  
 .ns-radios--small .ns-radios__item .ns-label-span {
    padding: 4px 12px;
    position: relative;
    left: -10px; }

.ns-radios--small .ns-radios__item:after {
  content: "";
  display: block;
  clear: both; }

.ns-radios--small .ns-radios__input {
  left: -10px; }

.ns-radios--small .ns-radios__label {
  margin-top: -2px;
  padding: 13px 15px 13px 1px;
  float: left; }

.ns-radios--small .ns-radios__label:before {
  top: 8px;
  width: 24px;
  height: 24px; }

.ns-radios--small .ns-radios__label:after {
  top: 10px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-width: 10px;
  color: #0058a4; }

.ns-radios--small .ns-radios__hint {
  padding: 0;
  clear: both;
  pointer-events: none; }

.ns-radios--small .ns-radios__conditional {
  margin-left: 10px;
  padding-left: 20px;
  clear: both; }

.ns-radios--small .ns-radios__divider {
  width: 24px;
  margin-bottom: 5px; }

.ns-hint {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 15px; }
.ns-fieldset__legend+.ns-hint {
    margin-top: -5px;
} 
  
  /* end Radio button */
  
  /* Start Check Box */
  
.ns-hint {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #444444;
}
.ns-checkboxes__item {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
}
@media print {
    .ns-checkboxes__item {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .ns-checkboxes__item {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}
@media print {
    .ns-checkboxes__item {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.ns-checkboxes__item:last-child,
.ns-checkboxes__item:last-of-type {
    margin-bottom: 0;
}
.ns-checkboxes__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
}
.ns-checkboxes__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
label.ns-checkboxes__label.noBold{
	font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
	font-weight: normal;
}
.ns-checkboxes__label:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #A2A2A2;
    background: transparent;
	transition: 0.2s ease;
}
.ns-checkboxes__input:checked + .ns-checkboxes__label:before {
	background: #0058A4;
} 
.ns-checkboxes__label:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    left: 9px;
    width: 23px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
	color: #fff;
}
.ns-checkboxes__hint {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
}
.ns-checkboxes__input:focus + .ns-checkboxes__label:before, .ns-checkboxes__input:hover + .ns-checkboxes__label:before  {
    /* border-width: 4px; */
    -webkit-box-shadow: 0 0 0 3px #F8D44C;
    box-shadow: 0 0 0 3px #F8D44C;
}
.ns-checkboxes__input:checked + .ns-checkboxes__label:after {
    opacity: 1;
}
.ns-checkboxes__input:disabled,
.ns-checkboxes__input:disabled + .ns-checkboxes__label {
    cursor: default;
}
.ns-checkboxes__input:disabled + .ns-checkboxes__label {
    opacity: 0.5;
}
.ns-checkboxes__conditional {
    margin-bottom: 15px;
    margin-left: 18px;
    padding-left: 33px;
    border-left: 4px solid #b1b4b6;
}
@media (min-width: 40.0625em) {
    .ns-checkboxes__conditional {
        margin-bottom: 20px;
    }
}
.js-enabled .ns-checkboxes__conditional--hidden {
    display: none;
}
.ns-checkboxes__conditional > :last-child {
    margin-bottom: 0;
}
.ns-checkboxes--small .ns-checkboxes__item {
    min-height: 0;
    margin-bottom: 0;
    padding-left: 34px;
    float: left;
}
.ns-checkboxes--small .ns-checkboxes__item:after {
    content: "";
    display: block;
    clear: both;
}
.ns-checkboxes--small .ns-checkboxes__input {
    left: -10px;
}
.ns-checkboxes--small .ns-checkboxes__label {
    margin-top: -2px;
    padding: 13px 15px 13px 1px;
    float: left;
}
@media (min-width: 40.0625em) {
    .ns-checkboxes--small .ns-checkboxes__label {
        padding: 11px 15px 10px 1px;
    }
}
.ns-checkboxes--small .ns-checkboxes__label:before {
    top: 8px;
    width: 24px;
    height: 24px;
}
.ns-checkboxes--small .ns-checkboxes__label:after {
    top: 15px;
    left: 6px;
    width: 12px;
    height: 6.5px;
    border-width: 0 0 3px 3px;
}
.ns-checkboxes--small .ns-checkboxes__hint {
    padding: 0;
    clear: both;
}
.ns-checkboxes--small .ns-checkboxes__conditional {
    margin-left: 10px;
    padding-left: 20px;
    clear: both;
}
.ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:not(:disabled) + .ns-checkboxes__label:before {
    -webkit-box-shadow: 0 0 0 10px #b1b4b6;
    box-shadow: 0 0 0 10px #b1b4b6;
}
.ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:focus + .ns-checkboxes__label:before {
    -webkit-box-shadow: 0 0 0 3px #fd0, 0 0 0 10px #b1b4b6;
    box-shadow: 0 0 0 3px #fd0, 0 0 0 10px #b1b4b6;
}
@media (hover: none), (pointer: coarse) {
    .ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:not(:disabled) + .ns-checkboxes__label:before {
        -webkit-box-shadow: initial;
        box-shadow: initial;
    }
    .ns-checkboxes--small .ns-checkboxes__item:hover .ns-checkboxes__input:focus + .ns-checkboxes__label:before {
        -webkit-box-shadow: 0 0 0 3px #fd0;
        box-shadow: 0 0 0 3px #fd0;
    }
}

  /* end Check Box */
  
  /* start toggle */
  
  .ns-toggle__label {
	box-sizing: border-box;
	margin: 0;
	user-select: none;
}

.ic-Form-group.ic-Form-group--horizontal .ns-toggle__label {
	display: inline-flex;
	align-items: center;
}

.ns-toggle__input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.ns-toggle__input:checked ~ label .ns-toggle-switch:after {
	transform: translate3d(100%, 0, 0);
}

.ns-toggle__input:checked ~ label .ns-toggle__disabled-msg:before {
	content: attr(data-checked);
}

.ns-toggle__input[disabled] ~ label .ns-toggle__disabled-msg {
	display: block;
}

.ns-toggle__input[disabled] ~ label .ns-toggle-switch,
  .ns-toggle__input[disabled] ~ label [class^="ns-toggle-option-"] {
	display: none;
}

.ns-toggle-switch {
	transition: background 0.1s, border-color 0.1s;
	display: inline-block;
	position: relative;
	line-height: 1;
	display: flex;
	align-items: center;
	background-clip: padding-box;
}

.ns-toggle-switch::after {
	transition: all 0.1s ease-in-out;
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	transform: translate3d(0, 0, 0);
	border-radius: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 20px;
}

.ns-toggle__disabled-msg {
	display: none;
}

.ns-toggle__disabled-msg:before {
	content: attr(data-unchecked);
}

[class^="ns-toggle-option-"] {
	transition: opacity 0.2s, transform 0.2s;
	flex: 0 0 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
	font-weight: normal;
	line-height: 1;
	speak: none;
	box-sizing: border-box;
}

.ns-toggle__screenreader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.ns-toggle--on-off {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.ns-toggle--on-off .ns-toggle__input:focus ~ label .ns-toggle-switch::after, .ns-toggle--on-off .ns-toggle__input:hover ~ label .ns-toggle-switch::after  {
	box-shadow: 0 0 0 3pt #F8D44C;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-switch {
	background: #009b16;
	border-color: #009b16;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-LEFT {
	color: white;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-LEFT .ns-toggle__svg > * {
	fill: white;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-RIGHT {
	color: white;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-RIGHT .ns-toggle__svg > * {
	fill: white;
}

.ns-toggle--on-off .ns-toggle__input:checked:focus ~ label .ns-toggle-switch::after {
	box-shadow: inset 0 0 0 1px white, inset 0 0 0 3px #009b16, 0 3px 6px rgba(0, 0, 0, 0.3);
}

.ns-toggle--on-off .ns-toggle-switch {
	width: 66px;
	height: 33px;
	background: #333;
	border: 2px solid #333;
	border-radius: 18.5px;
}

.ic-Form-group.ic-Form-group--horizontal .ns-toggle--on-off .ns-toggle-switch {
	flex: 0 0 66px;
}

.ns-toggle--on-off .ns-toggle-switch:after {
	background-color: white;
	width: 33px;
	height: 33px;
}

.ns-toggle--on-off .ns-toggle-option-LEFT {
	color: white;
}


.ns-toggle--on-off .ns-toggle-option-RIGHT {
	color: white;
}


.ns-toggle--on-off [class^="ns-toggle-option-"] {
	transition-delay: 0.1s;
}

.ns-toggle--on-off .ns-toggle-option-LEFT {
	opacity: 0;
}

.ns-toggle--on-off .ns-toggle-option-RIGHT {
	opacity: 1;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-LEFT {
	opacity: 1;
}

.ns-toggle--on-off .ns-toggle__input:checked ~ label .ns-toggle-option-RIGHT {
	opacity: 0;
}

.ns-toggle--ui-switch {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.ns-toggle--ui-switch .ns-toggle__input:focus ~ label .ns-toggle-switch::after, .ns-toggle--ui-switch .ns-toggle__input:hover ~ label .ns-toggle-switch::after {
	box-shadow: 0 0 0 3pt #F8D44C;
}

.ns-toggle--ui-switch .ns-toggle__input:checked ~ label .ns-toggle-switch {
    background: #fff;
    border-color: #A2A2A2;
}

.ns-toggle--ui-switch .ns-toggle__input:checked:focus ~ label .ns-toggle-switch::after, .ns-toggle--ui-switch .ns-toggle__input:checked:hover ~ label .ns-toggle-switch::after {
	box-shadow: 0 0 0 3pt #F8D44C;
}

.ns-toggle--ui-switch .ns-toggle-switch {
    width: 42px;
    height: 24px;
    background: #fff;
    border: 1px solid #A2A2A2;
    border-radius: 18.5px;
}

.ic-Form-group.ic-Form-group--horizontal .ns-toggle--ui-switch .ns-toggle-switch {
	flex: 0 0 66px;
}

.ns-toggle--ui-switch .ns-toggle-switch:after {
	background-color: #0058A4;
	width: 18px;
	height: 18px;
}

.ns-toggle--ui-switch .ns-toggle__label {
	display: inline-flex;
	align-items: center;
}

.ns-toggle--ui-switch .ns-toggle-switch {
	display: block;
}

.ns-toggle--ui-switch [class^="ns-toggle-option-"] {
	flex: none;
	min-width: 24px;
}
  
/* end toggle */
  
/*  ---------------------------------------------End form elements----------------------------------------------------------- */

/*  ---------------------------------------------Start table ----------------------------------------------------------- */

table, .table {
    color:#444444;
}
table caption {
    color: #444444;
}

.clickable-row:focus {
	outline: 4px solid #F8D44C;
}

/*  ---------------------------------------------End table ----------------------------------------------------------- */

/*  --------------------------------------------- Start Card----------------------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}

.card {
	background: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	max-width:200px;
	text-align: center;
	float: left;
	border:0 solid white;
	padding:8px;
	margin-bottom: 1em;
}
.card:hover {
	outline: 4px solid #F8D44C;
	transition: outline-width 0.2s ease;
}
.card .icon {
	margin: 20px 0 10px 0;
}

.card .icon svg {
	width: 100px;
	height: 100px;
}

.card .icon svg path {
	fill: #F6B352;
}

.card .title:after {
	display: block;
    content: ' ';
    background-repeat: no-repeat;
    background-position: center center;
    height: 69px;
    width: auto;
    margin: 15px auto 5px;
	
}
.card .title.add:after {
    background-image: url(../images/add-icon-lg.svg);
}

.card .title.search:after {
    background-image: url(../images/search-icon-lg.svg);	
}

.card .title.reports:after {
    background-image: url(../images/reports-icon-lg.svg);	
}

.card .title.admin:after {
    background-image: url(../images/admin-icon-lg.svg);	
}

.card p{
	margin-bottom: .6em;
}

/* --------------------------------------------end card ----------------------------------------------------- */
/* --------------------------------------------Start Quick Type----------------------------------------------------- */

.quickTypeList {
	font-size:.9em;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
	margin-bottom: 1em;
}

/* --------------------------------------------End Quick Type----------------------------------------------------- */
/* --------------------------------------------start balanced column ----------------------------------------------------- */

.programList {
  column-count: 3;
  column-gap: 24px;
}
.submissionList{
  column-count: 2;
  column-gap: 24px;
}

.programListColumn {
  column-fill: auto;
}

.programListItem {
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* --------------------------------------------end balanced column----------------------------------------------------- */
/* --------------------------------------------start btn ----------------------------------------------------- */
.btn-lg{
    margin: 1em auto;	
}
.btn-default {
	transition: 0.3s;
}
.btn-2nd {
    color: #0058a4;
    background-color: #fff;
    border-color: transparent;
	transition: 0.3s;
}
.btn-2nd:hover {
    color: #0058a4;
    background-color: #d4d4d4;
    border-color: rgba(0,0,0,0);
	transition: 0.3s;
}

/* --------------------------------------------end btn ----------------------------------------------------- */


/* --------------------------------------------Start sidebar ----------------------------------------------------- */
.screen-reader-only{
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px 1px 1px 1px); // IE 6 and 7
	clip: rect(1px,1px,1px,1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important;	
}
.summaryContainer{
	background-color: #dddddd;
}
.summaryTitle:before {
    content: "Record Summary";
    color: #fff;
    font-size: 1.15em;
    font-weight: 600;
    position: absolute;
    width: 215px;
    top: -35px;
    left: 24px;
    z-index: 2;
}

.summaryTitle:after {
	content: "";
    height: 45px;
    left: 0;
    z-index: 1;
    position: absolute;
    top: -50px;
    width: 245px;
    padding: 10px 0 0 10px;
    border-bottom: 40px solid #3FBCED;
    border-left: 0px solid transparent;
    border-right: 28px solid transparent;
}

.summaryTitle{
    position:absolute;
}
.summaryTitle h2{
    color: transparent;
    margin: 0;
    padding: 0;
}
.summaryEdit{
	float:right;
}
.summaryEditing{
	
}
.summarycontent{
	padding: 24px;
	font-size: .9rem;
	margin-bottom: 2rem;
}
.summaryLabel{
	margin-bottom:0;
}
.summaryText{
	margin-bottom:.5rem;
}
.summarySectionEdit{
	
}

/* --------------------------------------------End Sidebar ----------------------------------------------------- */

/* --------------------------------------------start sticky footer ----------------------------------------------------- */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
/* --------------------------------------------End sticky footer ----------------------------------------------------- */

/* --------------------------------------------start modal ----------------------------------------------------- */
.modal-footer{
	padding: 0 1rem;
	display: block;
}
